<md-toolbar class="md-tall md-theme-default md-hue-1">
  <span flex></span>
  <h1 class="md-toolbar-tools">
    Credits
  </h1>
</md-toolbar>

<md-card> 
  <md-card-content>
    <p>
      This project is made possible with these awesome open-source tools.

      <ul>
        <li><a href="https://bootswatch.com/">Bootswatch</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="http://bootstrapcdn.com">Bootstrap CDN</a></li>
        <li><a href="http://gruntjs.com/">Grunt</a></li>
      </ul>

      Author: <a href="http://ismaildemirbilek.com">İsmail Demirbilek</a>
    </p>
  </md-card-content>
</md-card>