<md-toolbar class="md-tall md-theme-default md-hue-1">
  <span flex></span>
  <h1 class="md-toolbar-tools">
    Getting Started
  </h1>
</md-toolbar>

<md-card> 
  <md-card-content>
    <p>
      Distribution packages for Bootswatch themes, intended to be used with Bower package manager. Bootswatch themes are amazing for users; with bootswatch-dist they are also delicious for you, developers!
    </p>
    <p>
      See tasty themes on <a href="https://bootswatch.com/">bootswatch.com</a>.
    </p>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h2>Install</h2>
    
    <p>
      Latest themes and their versions are listed here. Please select a theme and a version for installation instructions.
    </p>

    <p>
      Theme: 
      <md-select ng-model="theme" placeholder="Select theme" ng-change="version=null">
        <md-option ng-value="theme.name" ng-repeat="theme in branches">{{theme.name}}</md-option>
      </md-select>
      <md-select ng-model="version" placeholder="Select version" ng-show="theme">
        <md-option ng-value="theme">latest</md-option>
        <md-option ng-value="version.name" ng-repeat="version in tags|filter: {name: theme}">{{version.name}}</md-option>
      </md-select>
    </p>

    <p ng-show="version">
      <code>$ bower install bootswatch-dist#{{version}}</code>
    <p>
  </md-card-content>
</md-card>